[Unit]
Description=Synchronize platform device RTCs every 5 minutes
After=pddf-platform-init.service
Requires=pddf-platform-init.service

[Timer]
Unit=rtc-sync.service

# Run every 5 minutes
OnUnitActiveSec=5min

# Run immediately after system boot (but still wait for pddf-platform-init.service)
OnBootSec=0

[Install]
WantedBy=timers.target
