[Unit]
Description=Platform RTC synchronization service
After=pddf-platform-init.service
Requires=pddf-platform-init.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rtc_sync

[Install]
WantedBy=multi-user.target
